<footer class="app-footer">
  <ng-container *ngIf="role === 'restaurant'">
    <button routerLink="open-orders">Open Orders</button>
    <button routerLink="menu">Menu</button>
    <button routerLink="order-history">Order History</button>
    <button routerLink="settings">Settings</button>
  </ng-container>

  <ng-container *ngIf="role === 'user'">
    <button routerLink="home">Home</button>
    <button routerLink="cart">Cart</button>
    <button routerLink="orders">Orders</button>
    <button routerLink="user-settings">User-Settings</button>
  </ng-container>
</footer>
