<div class="home-container"> 
  <div *ngIf="loading">Loading...</div>
  <div *ngIf="error">{{ error }}</div>

  <div class="search-container" *ngIf="!selectedRestaurant">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="searchRestaurantsAndFoods()"
      placeholder="Search for food, restaurants or cuisines"
      class="search-bar"
    />
  </div>

  <div class="restaurant-controls" *ngIf="!selectedRestaurant">
    <div class="controls-right">
      <label for="restaurantSort">Sort by:</label>
      <select id="restaurantSort"
              [(ngModel)]="restaurantSort"
              (change)="applyRestaurantSort()"
              class="dropdown">
        <option value="rating">Rating</option>
        <option value="distance">Distance</option>
      </select>
    </div>
  </div>

  <div *ngIf="!loading && !error && !selectedRestaurant" class="restaurant-list">
    <div class="restaurant-card"
         *ngFor="let r of restaurants"
         (click)="r.restaurantStatus === 'Open' && selectRestaurant(r)"
         [ngClass]="{ 'closed-restaurant': r.restaurantStatus === 'Closed' }">

      <div class="restaurant-image">
        <img [src]="r.restImageUrl" alt="{{ r.name }}">
        <div *ngIf="r.restaurantStatus === 'Closed'" class="closed-badge">CLOSED</div>
      </div>

      <h3>{{ r.name }}</h3>
      <p><strong>Rating:</strong> {{ r.rating }} ★</p>
      <p><strong>Distance:</strong> 2Km Away</p>
    </div>
  </div>

  <div *ngIf="!loading && selectedRestaurant">
    <button class="back-btn" (click)="backToRestaurants()">⬅ Back</button>
    <h2 class="restaurant-title">{{ selectedRestaurant.name }}</h2>

    <div class="menu-list">
      <div class="menu-card" 
           *ngFor="let m of filteredMenu"
           [ngClass]="{ 'unavailable-food': m.foodStatus !== 'Available' }">
        <div class="menu-image">
          <img [src]="m.foodImageUrl" alt="{{ m.name }}">
          <div *ngIf="m.foodStatus !== 'Available'" class="unavailable-badge">NOT AVAILABLE</div>
        </div>
        <h3>{{ m.name }}</h3>
        <p><em>{{ m.category }}</em></p>
        <p><strong>₹{{ m.price }}</strong></p>

        <div class="counter" *ngIf="m.foodStatus === 'Available'">
          <button (click)="decrementItem(m)" [disabled]="m.quantity === 0">-</button>
          <span>{{ m.quantity || 0 }}</span>
          <button (click)="incrementItem(m)">+</button>
        </div>
        
        <div class="unavailable-text" *ngIf="m.foodStatus !== 'Available'">
          Currently Unavailable
        </div>
      </div>
    </div>
  </div>

  <div class="view-cart-bar" *ngIf="cartItems.length > 0">
    <div class="cart-info">{{ totalQuantity }} item(s) added to cart</div>
    <button class="view-cart-btn" (click)="goToCart()">View Cart</button>
  </div>
</div>